* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  
}
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}


body {
  background-image: url("back.png");
  background-repeat: no-repeat;
  background-size : cover
}
}
a {
  color : white;
  text-decoration: none;
}
.navigation {
  position : fixed;
  left : 0;
  top : 0;
  width : 100%;
  padding : 25px 9%;
  display : flex;
  justify-content : space-between;
  align-items : center;
  z-index: 100;
  background-color: crimson
  
}
.navigation .logo {
  font-size : 30px;
  font-weight : 700;
}
.navigation ul {
  display : flex;
}
.navigation ul li {
  list-style : none;
  margin-left : 35px;
}
.navigation ul li a {
  font-size : 20px;
  font-weight: 500;
  transition: .5s;
}

.navigation ul li:hover a,
.navigation ul li.activ a {
  color : #7cf03d;
}
.home{
  display :flex;
  align-items : center;
  height : 100vh;
  padding: 60px 9% 0;
  color : #fff;
}
.Homeinfo h1{
  font-size: 55px;
  color : cornflowerblue
}
.Homeinfo h2 {
  font-size : 32px;
  margin-top : -10px;
  color : coral
}
.Homeinfo p {
  font-size : 16px;
  margin : 10px 0 25px;
  color : beige
  
}
.Homeinfo .btn-sci {
  display: flex;
  align-items : center;
}
.btn {
  margin: 100px;
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}
.Homeinfo .btn-sci .sci {
  margin-left: 20x;
}
.Homeinfo .btn-sci .sci a {
  display : inline-flex;
  padding : 8px;
  border: 2px solid #7cf03d;
  border-radius: 50%;
  font-size: 20px;
  color: #7cf03d;
  margin: 0 8px;
  transition: .5s
}
.Homeinfo .btn-sci .sci a:hover {
  background : #7cf03d;
  color : beige;
  box-shadow: 0 0 10px #7cf03d;}
.btn-sci {
  justify-content: space-between;
}